###################################
#
#  Meraculous params file
#
###################################


#######################################
#
# Basic parameters
#
########################################



# Describe the libraries ( one line per library )
# lib_seq [ wildcard ][ prefix ][ insAvg ][ insSdev ][ avgReadLen ][ hasInnieArtifact ][ isRevComped ][ useForContigging ][ onoSetId ][ useForGapClosing ][ 5pWiggleRoom ][3pWiggleRoom] [FilesPerPair] [ useForSplinting ]
#

lib_seq	ECO.fastq.0.fq,ECO.fastq.1.fq   ECO  215  10   36 0 0	  1 1 1  0 0 2 1


genome_size   0.0045

is_diploid	0

mer_size 21

min_depth_cutoff	7

num_prefix_blocks 4

gap_close_rpt_depth_ratio 2.0

#################################################
#
# Advanced parameters 
#
#################################################

no_read_validation 1

use_cluster 0

local_num_procs       16

local_max_retries		  0



