###################################
#
#  Meraculous params file
#
###################################

# Describe the libraries ( one line per library )
# lib_seq [ wildcard ][ prefix ][ insAvg ][ insSdev ][ avgReadLen ][ hasInnieArtifact ][ isRevComped ][ useForContigging ][ onoSetId ][ useForGapClosing ][ 5pWiggleRoom ][3pWiggleRoom] [FilesPerPair] [ useForSplinting ]
# for variable length reads, set the read length to 0
#
#       filenames                           pref  ins  std   len i r   c o g  5 3 f s
# settings from Eugene's merac2 run
#lib_seq frag_1.fastq,frag_2.fastq           FRAG  155  17    101 0 0   1 1 1  0 0 2 1
#lib_seq shortjump_1.fastq,shortjump_2.fastq SJMP  2687 341   101 0 1   1 2 1  0 0 2 0
#lib_seq longjump_1.fastq,longjump_2.fastq   LJMP  32614 8895 0   0 0   1 3 0  25 0 2 0

# The insert averages taken from the GAGE website, std dev set to 10% of average (since we don't know it)
lib_seq	frag_1.fastq,frag_2.fastq           FRAG  155   15     101 0 0   1 1 1  0  0  2 1
lib_seq shortjump_1.fastq,shortjump_2.fastq SJMP  2543  254    101 0 1   1 2 1  0  0  2 0
lib_seq longjump_1.fastq,longjump_2.fastq   LJMP  35307 3531   0   0 0   1 3 0  25 25 2 0

genome_size   0.107
is_diploid 1
mer_size 51
min_depth_cutoff 4

bubble_min_depth_cutoff  1

fallback_on_est_insert_size 1

gap_close_rpt_depth_ratio 1.75

use_cluster    0 
local_num_procs        16 
no_read_validation     1 
num_prefix_blocks      4 
local_max_retries      0 

