###################################
#
#  Meraculous params file
#
###################################

# Describe the libraries ( one line per library )
# lib_seq [ wildcard ][ prefix ][ insAvg ][ insSdev ][ avgReadLen ][ hasInnieArtifact ][ isRevComped ][ useForContigging ][ onoSetId ][ useForGapClosing ][ 5pWiggleRoom ][3pWiggleRoom] [FilesPerPair] [ useForSplinting ]
#
#       filenames                           pref  ins  std  len i r   c o g  5 3 f s
lib_seq	frag_1.fastq,frag_2.fastq           FRAG  180  18   101 0 0	  1 1 1  0 0 2 1
lib_seq shortjump_1.fastq,shortjump_2.fastq SJMP  3500 350  37  0 1   1 2 1  0 0 2 1

is_diploid 0
mer_size 19
min_depth_cutoff 4
gap_close_rpt_depth_ratio 2.0
